/*  stylesheet for page named p1 */
.bg-container {
    /* we need an image for this. So url of that image has given below */
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png);

    
    font-family: Roboto;
}

.person-name {
    text-align: center;
    background-color: #323f4b;
    color: #ffffff;

    
}

.message-sent {
    text-align: right;
    padding: 10px;
    background-color: #47a3f3;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.message-received {
    text-align: left;
    padding: 10px;
    background-color: #52606d;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}



